

  <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/gatoEncerrado.css"/>


    <h3 style="text-align:center">nombreLaberintoActual</h3>

    <div   class="col-md-7">
    		<!-- 3 paneles.. habitacionActual, accionesDeLaHabitacion, inventarioJugador -->
    	<div id= "borderHabitacion"  class="col-md-8">
    	<div class="col-md-8">{{habitacionActual.nombre}}
        <ul class="list-unstyled">
            <li ng-repeat= "habitacion in habitaciones">
              {{habitacion.nombre}}
            </li>
        </ul>
    		{{10+4}}
			{{habitacionActual.nombre}}
   			<p>habitacionActual</p>
        {{7*8}}
   			<!-- aca va la imagen de la habitacionActual -->
	    	<img class="img-responsive" src="" alt="">
   		</div>
   		<div id="borderAcciones" class="col-md-4">
   			<p>Acciones</p>
   			<ul class="list-unstyled">
                <li ng-repeat="item in inventario">  
                    <button>accion.nombre</button>
                 	item.nombre 
              	</li>
            </ul>
   		</div>

	</div>	
	<div id="borderInventario" class="col-md-2" >
   			<p>Inventario</p>
   			<ul class="list-unstyled">
   			<li ng-repeat="item in inventario">  
                    <button>accion.nombre</button>
                 	item.nombre 
              	</li>
   			</ul>
   			<button type="button" class="btn btn-primary">Tirar</button>
   	</div>	
    </div>

