 	<!DOCTYPE html>
 	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/gatoEncerrado.css"/>


    <h3 style="text-align:center">{{nombrelab}}</h3>
	<button type="button" class="btn btn-success" ng-click="mostrarLaberinto()"></button>

    <div   class="col-md-7">
    		<!-- 3 paneles.. habitacionActual, accionesDeLaHabitacion, inventarioJugador -->
    	<div id= "borderHabitacion"  class="col-md-8">
    	<div class="col-md-8">{{habitacionActual.nombre}}
    		<img class="img-responsive" ng-src="{{habitacionActual.pathImage}}" alt="">
		</div>
        <ul class="list-unstyled">
            <li ng-repeat= "habitacion in habitaciones">
              {{habitacion.nombre}}
            </li>
        </ul>
   			
   			<!-- aca va la imagen de la habitacionActual -->
	    	<img class="img-responsive" src="" alt="">
   		</div>
   		<div id="borderAcciones" class="col-md-4">
   			<p>Acciones</p>
   			<ul class="list-unstyled">
                <li ng-repeat="item in habitacionActual.acciones">  
                 	{{item.nombre}} 
              	</li>
            </ul>
   		</div>

	</div>	
	<div id="borderInventario" class="col-md-2" >
   			<p>Inventario</p>
   			<ul class="list-unstyled">
   			<li ng-repeat="item in inventarioActual">  
                 	{{item.nombre }}
              	</li>
   			</ul>
   			<button type="button" class="btn btn-primary">Tirar</button>
   	</div>	
    </div>

